body {
  margin: auto;
  font-family: sans-serif;
  background-color: #afeeee;
}

.header {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  margin: 0 0 0.5em 0;
  padding: 1em;
}

.logo img {
  height: 80px;
  display: block;
}

.content {
  max-width: 50em;
  margin: auto;
  background-color: white;
  padding: 1em;
}

.button {
  background-color: #0C1E32;
  color: #FFFFFF;
  padding: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.button:hover {
  background-color: #143457;
}

.button:disabled {
  background-color: #949393;
  cursor: not-allowed;
  opacity: 0.6;
}

.button.danger {
  background-color: #bd3829;
}

.button.danger:hover {
  background-color: #e74c3c;
}

.group {
  border: 2px solid #777a7f;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.group dd {
  overflow-wrap: break-word;
  word-break: break-word;
}

.description {
  border: 2px solid white;
  overflow-wrap: break-word;
  word-break: break-word;
}

.messages {
  border: 2px solid #777a7f;
  margin: 1em;
  overflow-wrap: break-word;
  word-break: break-word;
}

.messages ul {
  list-style: none;
  margin: 1em;
  padding: 0;
}

.messages li {
  padding: 0.5em 0;
  border-bottom: 1px solid #797878;
}

.messages li:last-of-type {
  border-bottom: none;
}

.message-box {
  display: flex;
  align-items: flex-start;
  margin: 0.5em;
}

.message-box textarea {
  flex: 1 1 auto;
  resize: vertical;
}

h1, h2 {
  color: #0C1E32;
  margin: 0;
}

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav a{
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-size: .85em;
  color: #0C1E32;
  text-decoration: none;
  padding: 1em 0;
}

nav a::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: .35rem;
  width: 0;
  height: 2px;
  background: #0C1E32;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

nav a:hover::after{
  width: 3em;
}

nav li:not(:first-of-type) {
  margin-left: -0.25em;
}

.page-nav {
  text-align: center;
}

.flash-warning {
  color: red;
}

.flash-success {
  color: green;
}

.search {
  padding: 0.5em;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search input[type="text"] {
  padding: 0.5em;
  font-size: 14px;
  border: 1px solid #777a7f;
  border-right: none;
  height: 32px;
  box-sizing: border-box;
}

.search button {
  float: right;
  padding: 0.5em;
  background: #0C1E32;
  color: white;
  font-size: 14px;
  border: 1px solid #777a7f;
  border-left: none;
  cursor: pointer;
  height: 32px;
}

.search button:hover {
  background: #143457;
}