<!DOCTYPE html>
<html>

<head>
  <title>Create a group</title>
</head>

<body>
  <h1>Create a group</h1>  
  <form action="/create_group" method="post">
    <p>
      Group name: <br />
      <input type="text" name="group_name" required/>
    </p>
    <p>
      Description: <br />
      <textarea name="description" rows="8" cols="50" required></textarea>
    </p>
    <p>
      Maximum number of members (1-32): <br />
      <input type="number" name="max_members" min="1" max="32" required>
    </p>
    <p>
      Subject: <br />
      <select name="subject" required>
        <option value="tira">tira</option>
        <option value="tikape">tikape</option>
        <option value="linis">linis</option>
        <option value="lama">lama</option>
      </select>
    </p>
    <input type="submit" value="Submit" />
  </form>
</body>

</html>