{% extends "layout.html" %}

{% block title %}Edit your group{% endblock %}

{% block content %}

<h2>Edit your group</h2>

<form action="/update_group" method="post">
  <p>
    <label for="group_name">Group name</label>:<br />
    <input type="text" id="group_name" name="group_name" value="{{ group.group_name }}" maxlength="50" required/>
    <input type="hidden" name="group_id" value="{{ group.id }}"/>
  </p>
  <p>
    <label for="description">Description</label>:<br />
    <textarea id="description" name="description" rows="8" cols="50" maxlength="1000" required>{{ group.description }}</textarea>
  </p>
  <p>
    <label for="max_members">Maximum number of members (1-32)</label>:<br />
    <input type="number" id="max_members" name="max_members" value="{{ group.max_members }}" min="1" max="32" required>
  </p>
  <p>
    <label for="subject">Subject</label>:<br />
    <select id="subject" name="subject" required>
      <option value="{{ group.subject }}" selected hidden>{{ group.subject }}</option>
      <option value="tira">tira</option>
      <option value="tikape">tikape</option>
      <option value="linis">linis</option>
      <option value="lama">lama</option>
    </select>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="update" value="Update" class="button" />
  <input type="submit" name="cancel" value="Cancel" class="button danger" />
</form>

{% endblock %}