{% extends "layout.html" %}

{% block title %}Groups{% endblock %}

{% block content %}

<h2>Groups</h2>

{% if groups %}
<dl>
  {% for group in groups %}
  <dt><a href="/view/group_id={{ group.id }}">{{ group.group_name }}</a></dt>
  <i>{{ group.subject }}</i>
  <dd>{{ group.description }}</dd>
  {% endfor %}
</dl>
{% else %}
  {% if query %}
  <p>No matches found for your search, do you want to <a href="/create_group">create that group?</a></p>
  {% else %}
  <p>No groups have been created, be the first to <a href="/create_group">create one</a></p>
  {% endif %}
{% endif %}

{% endblock %}