{% extends "layout.html" %}

{% block title %}{{ group.group_name }}{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
    {% for category, message in messages %}
      <p class="flash-{{ category }}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2>{{ group.group_name }}</h2>

{% if session.user_id == group.owner %}
<p>
  <a href="/edit/group_id={{ group.id }}">Edit group</a>
  <a href="/delete/group_id={{ group.id }}">Delete group</a>
</p>
{% endif %}
<p>
  {{ group.description }}
</p>
<h3>Members</h3>
<li>
  {% for member in members %}
  <ul>{{ member.username }}</ul>
  {% endfor %}
</li>
<p>
  <a href="/groups">Back to groups</a>
</p>

{% endblock %}