{% extends "layout.html" %}

{% block title %}{{ group.group_name }}{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
    {% for category, message in messages %}
      <p class="flash-{{ category }}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2>{{ group.group_name }}</h2>
<i>{{ group.subject }}</i>

{% if session.user_id == group.owner %}
  <p>
    <a href="/edit/group_id={{ group.id }}" class="button">Edit group</a>
    <a href="/delete/group_id={{ group.id }}" class="button">Delete group</a>
  </p>
{% else %}
  {% if is_member %}
    <form action="/leave_group/group_id={{ group.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit" class="button">Leave group</button>
    </form>
  {% else %}
    <form action="/join_group/group_id={{ group.id }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <button type="submit" class="button" {% if is_full %}disabled{% endif %}>Join group</button>
    </form>
    {% if is_full %}
      <p><b>This group is full!</b></p>
    {% endif %}
  {% endif %}
{% endif %}
<div class="description">
  {{ group.description | show_lines}}
</div>
<h3>{{ members | count }}/{{ group.max_members }} members</h3>
<ul style="list-style-type:none;">
  {% for member in members %}
  <li><a href="/view/user_id={{ member.id }}">{{ member.username }}</a></li>
  {% endfor %}
</ul>
<p>
  <a href="/groups" class="button">Back to groups</a>
</p>

{% endblock %}