{% extends "layout.html" %}

{% block title %}Study group{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
    {% for category, message in messages %}
      <p class="flash-{{ category }}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if session.username %}
<p>
  You are logged in as <a href="/view/user_id={{ session.user_id }}">{{ session.username }}</a>
</p>
<p>
  <a href="/create_group">Create a new group</a> or 
  <a href="/groups">Look for groups</a>
</p>
<h2>My groups</h2>
  {% if groups %}
    {% for group in groups %}
    <div class="group">
      <dt><a href="/view/group_id={{ group.id }}">{{ group.group_name }}</a>
         - {{ group.member_count }}/{{ group.max_members}} members</dt>
      <i>{{ group.subject }}</i>
      <dd>{{ group.description | show_lines }}</dd>
    </div>
    {% endfor %}
  {% else %}
    <p>You have not joined to any groups yet</p>
  {% endif %}
{% else %}
<h2>Welcome to Study group!</h2>
<p>
  This is a right platform for students to connect with peers, work on assignments or prep for exams!
</p>
<p>
  Already have an account? <a href="/login">Log in</a> to join with your friends. New here? <a href="/register">Create an account</a> and get started!
</p>
{% endif %}
<form class="search" action="/search_group">
  <input type="text" name="query" placeholder="Search groups..." />
  <button type="submit"><i class="fa fa-search"></i></button>
</form>

{% endblock %}