<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>

  <div class="header">
    <a href="/" class="logo">
      <img src="/static/logo.png" alt="logo">
    </a>
    <nav>
      <ul>
        {% if session.user_id %}
        <li><a href="/create_group">Create group</a></li>
        <li><a href="/groups">All groups</a></li>
        <li>
          <form class="search" action="/search_group">
            <input type="text" name="query" placeholder="Search groups..." />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li><a href="/view/user_id={{ session.user_id }}">My profile</a></li>
        <li><a href="/logout">Log out</a></li>
        {% else %}
        <li><a href="/login">Log in</a></li>
        <li><a href="/register">Register</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

</body>

</html>