{% extends "layout.html" %}

{% block title %}Log in{% endblock %}

{% block content %}

<h2>Log in</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
    {% for category, message in messages %}
      <p class="flash-{{ category }}">{{ message }}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if session.username %}
<p>
  You are logged in as {{ session.username }}
</p>
<p>
  <a href="/logout">Logout</a>
</p>
{% else %}
<form action="/login" method="post">
  <p>
    <label for="username">Username</label>:<br />
    <input type="text" id="username" name="username" maxlength="16" required/>
  </p>
  <p>
    <label for="password">Password</label>:<br />
    <input type="password" id="password" name="password" maxlength="128" required/>
  </p>
  <input type="submit" value="Login" />
</form>
{% endif %}

{% endblock %}