<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
</head>

<body>
  <form action="/create_account" method="post">
    <p>
      Account name: <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="16" required/>
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" required/>
    </p>
    <p>
      Password again: <br />
      <input type="password" name="password2" required/>
    </p>
    <input type="submit" value="Create account" />
  </form>
</body>

</html>